<!DOCTYPE html>
<html>
<head>
	<meta http-equiv=Content-type content="text/html; charset=utf-8">
	<title>Trackr</title>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel=stylesheet href="static/homeStyles.css" type="text/css" media=screen>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>Trackr</h1>
			<h2>A Research Project</h2>
		</div>
		
		<div id="tldr">
			<h3>The Super-tl;dr Version</h3>
			<p>I'm doing a research project about the phenomenon of the Like button, and I'd like to know why you (yes, <i>you!</i>) Like things. If you'd like to help, you can download a browser extension that will give you a short survey every time you Like something on a whole range of sites. Your answers are kept anonymous, safe, and secure. You can get the browser extensions right here for Safari, Chrome, and Firefox. Thanks for your time.</p>
		</div>
		
		<h3>The Regular-Length Version</h3>
		
		<p>Hi there. I'm <a href="http://scottjackson.org">Scott</a>. This year, I'm doing a research project at <a href="http://uq.edu.au">UQ</a> that's centred around the phenomenon of Liking things online. Almost every site that's even vaguely social has something resembling a Like button &mdash; Facebook has Likes, Twitter has Favorites, Reddit has upvotes, <i>et cetera</i>. Millions of people use these buttons millions of times every day. I want to look at how and why people use Like buttons, and what kind of things we can do with that information to enhance recommendation systems. Here's the short version:</p>
		
		<blockquote>
			In the physical world, one of the ways we define ourselves is through our taste &mdash; we wear Nike shoes instead of Adidas, use Apple computers instead of Dells, or wear t-shirts with nerd slogans on them. We present ourselves to the world by associating ourselves with what we like. What's the online equivalent to this? How do we define our online identity? I posit that we do it with Like buttons.
		</blockquote>
		
		<p>Once I've got some information about why people use Like buttons, I want to use that data to try and enhance recommendation engines that work by using your Likes as a seed. Currently, these recommendation engines work by looking at what you Like and recommending content to you. I want to make a recommendation engine that bases its recommendations not only on <i>what</i> you Like, but also <i>why</i> you Like.</p>
		
		<h3>OK. So, why am I here?</h3>
		
		<p>I need some help. Part of my research project is a study that looks at why people Like things online. I need to gather some statistics on why people are Liking things. To that end, I've put together some browser extensions. Basically, install one of these browser extensions and whenever you Like something on sites like Reddit, Tumblr, Flickr, YouTube, or Twitter, the browser extension will pop up a window and ask you a couple of questions about why you Liked what you just Liked. When you've answered the questions, those answers get put into my database.</p>
		
		<h3>Is this safe? How do I know you're not going to be a dick with my data?</h3>
		
		<p>The Like data I collect is all anonymous. Nothing links you personally to the things that you've Liked. At the end of the project, I will delete all of the data that I've gathered. Quite simply, there's no <i>way</i> for me to be nefarious with this data. However, if you still have concerns, you can inspect the code for yourself &mdash; the whole project (<i>sans</i> the recorded data, of course) <a href="https://github.com/scottjacksonx">is up on GitHub</a>. If you're really, <i>really</i> interested in my project, feel free to read <a href="/static/ProjectProposal.pdf">my proposal</a>.</p>
		
		<p><img src="/static/lock.png" alt="A lock" style="float:left;">Do you see this image? It is a picture of a lock. On the internet, a picture of a lock means that everything is safe.</p>

		<h3>OK! Let's DO THIS!</h3>
		
		<p>Cool! All you need to do to get started is download the extension for your browser of choice: Safari, Chrome, Firefox.</p>

	</div>
</body>
</html>
